1. Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [1]:
nums = [4, 8, 2, 10, 6]
max_num = nums[0]

for n in nums:
    if n > max_num:
        max_num = n

print(max_num)

10

2. Take input from the user and find the factorial of the number using a for loop.

In [2]:
n=int(input("Enter the number:"))
fact=1
for i in range(1, n + 1):
    fact *= i

print("Factorial =", fact)

Enter the number:5
Factorial = 120

3. Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [3]:
fruits = ['apple', 'banana', 'cherry', 'date', 'fig']

for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry
3 date
4 fig

4. Take a string input from the user and count the number of uppercase letters using a for loop. (Use char.isupper())

In [5]:
text = input("Enter text: ")
count = 0

for ch in text:
    if ch.isupper():
        count += 1

print("Uppercase letters =", count)
A

Enter text: HarShAd
Uppercase letters = 3

5. Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

In [7]:
num= [17, 25, 39, 42, 58, 71, 86, 93]
total = 0

for n in nums:
    if n % 2 == 0:
        total += n

print(total)

30

6. Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [8]:
nums = [3, 6, 9, 12, 15]
product = 1

for n in nums:
    product *= n

print(product)

29160

7. Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.

In [9]:
nums = [2, 3, 5, 7, 11, 13, 17, 19]

for i in range(len(nums)):
    if nums[i] == 7:
        print("Index =", i)
        break

Index = 3


8. Take a string input from the user and reverse it using a for loop.

In [10]:
s = input("Enter string: ")
rev = ""

for ch in s:
    rev = ch + rev

print(rev)

Enter string: harshada
adahsrah

9. Given a list [10, 20, 30, 40, 50], print each element multiplied by 2 using a for loop.

In [11]:
nums = [10, 20, 30, 40, 50]

for n in nums:
    print(n * 2)

20
40
60
80
100

10. Given a list of words ['Python', 'Java', 'C++', 'JavaScript', 'Ruby'], find the longest word using a for loop.

In [12]:
words = ['Python', 'Java', 'C++', 'JavaScript', 'Ruby']
longest = words[0]

for w in words:
    if len(w) > len(longest):
        longest = w

print(longest)

JavaScript

11. Take a string input from the user and count the number of vowels using a for loop. (Vowels: a, e, i, o, u)

In [13]:
text = input("Enter text: ")
vowels = "aeiouAEIOU"
count = 0

for ch in text:
    if ch in vowels:
        count += 1

print("Vowels =", count)

Enter text: harshada
Vowels = 3

12. Given a list of integers [4, 9, 16, 25, 36], print the square root of each number using a for loop.

In [14]:
import math
nums = [4, 9, 16, 25, 36]

for n in nums:
    print(math.sqrt(n))

2.0
3.0
4.0
5.0
6.0

13. Given a list [1, 3, 5, 7, 9, 11], check if a user-inputted number is present in the list using a for loop.

In [15]:
nums = [1, 3, 5, 7, 9, 11]
x = int(input("Enter number: "))

found = False
for n in nums:
    if n == x:
        found = True
        break

print("Present" if found else "Not present")

Enter number: 34
Not present