 Write a Reverse a list without using reverse()

In [1]:
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

Write a Remove duplicates from a list

In [3]:
nums = [1, 2, 2, 3, 4, 4, 5]

nums = list(set(nums))
print(nums)

[1, 2, 3, 4, 5]

Find the largest and smallest number

In [4]:
nums = [10, 50, 3, 75, 20]
largest = max(nums)
smallest = min(nums)
print(largest, smallest)

75 3

Write a Count occurrences of an element

In [5]:
nums = [1, 2, 2, 3, 2, 4]
nums.count(2)

3

Find even numbers from a list

In [6]:
nums = [10, 3, 5, 8, 20, 7]
even = [x for x in nums if x % 2 == 0]
print(even)

[10, 8, 20]

Find the second largest number

In [7]:
nums = [10, 50, 30, 20, 40]
nums.sort()
second_largest = nums[-2]
print(second_largest)

40

Print all elements of a list

In [8]:
lst = [10, 20, 30]

for i in lst:
    print(i)

10
20
30

Find the length of a list

In [9]:
lst = [1, 2, 3, 4]
len(lst)

4