1. Write a program to create a tuple with numbers.

In [1]:
t = (10, 20, 30, 40)
print(t)

(10, 20, 30, 40)

2. Write a program to access elements from a tuple.

In [4]:
t=(10, 20, 30, 40)
print(t[0])
print(t[1])
print(t[2])
print(t[3])

10
20
30
40

3. Write a program to print the first and last element of a tuple.

In [6]:
t=(10, 20, 30, 40)
print("First:",t[0])
print("last:",t[-1])

First: 10
last: 40

4. Write a program to find the length of a tuple.

In [7]:
t = (1, 2, 3, 4)
print(len(t))

4

5. Write a program to convert a list into a tuple.

In [8]:
lst = [10, 20, 30]
t = tuple(lst)
print(t)

(10, 20, 30)

6. Write a program to check if an element exists in a tuple.

In [9]:
t=(1,23,34,23,5)
if 23 in t:
    print("23 found")
else:
    print("23 not found")

23 found

7. Write a program to count how many times an element appears in a tuple.

In [14]:
t=(1,2,3,3,4,5)

print(t.count(3))

2

8. Write a program to find the index of a given element in a tuple.

In [15]:
t = (10, 20, 30)
print(t.index(20))

1

9. Write a program to concatenate two tuples.

In [16]:
a = (1, 2)
b = (3, 4)
c = a + b
print(c)

(1, 2, 3, 4)

10. Write a program to repeat a tuple 3 times.

In [17]:
t = (5, 10)
print(t * 3)

(5, 10, 5, 10, 5, 10)

11. Write a program to unpack a tuple into variables.

In [18]:
t = (10, 20, 30)
a, b, c = t
print(a, b, c)

10 20 30